@using AutoVertical_Model.Models.ViewModel;
@model AnnouncementFiltersAdvertisementsVM
<section name="advertisement" class="container-fluid advertisement-lg">
    <div style="max-height:300px;" class="row">
        <a class="p-0">
            <img style="max-height:300px;" src="" class="largeAdvertisement img-fluid w-100"/>
        </a>
    </div>
</section>

@if(DateTime.Compare(Model.vehicle.ExpireDate,DateTime.Now.Date) < 0)
{
    <section name="ExpiredAllert" class="container my-4">
        <div class="row">
            <div class="col-12 bg-danger text-white p-5 text-center">
                <h1>Archival Announcement</h1>
            </div>
        </div>
    </section>
}

<section name="Announcement" class="container mt-5">
    @if (ViewBag.CurrentUser != Model.vehicle.UserId)
    {
        <div class="row">
               <form asp-controller="UserProfile" asp-action="FollowVehicle" class="col-12 text-end">
                        <input hidden  asp-for="vehicle.Id" />
                        <input hidden  asp-for="vehicle.UserId" />
                        <button id="observerBtn" type="submit" class="btn hover-darker"><i class="bi bi-heart h5"></i> Observe</button>
                </form>
        </div>
    }
    <div class="row">
        <section name="AnnouncementDetails" class="col-lg-9">
            <section name="UsedFilter">
                <div class="row">
                    <div style="color:dodgerblue" class="col-12">
                        <span class="hover-darker">@Model.vehicle.VehicleType</span> / <span class="hover-darker">@Model.vehicle.BodyType</span> / <span class="hover-darker">@Model.vehicle.Brand</span> / <span class="hover-darker">@Model.vehicle.Model</span>
                    </div>
                </div>
            </section>
            <section name="Slider" class="mt-3">
                <div class="row">
                    <div id="MainContainer" class="col-12">
                        <div id="MainPictureFrame" class="row bg-light">
                            <div id="LeftArrow" class="col-2 d-flex justify-content-center align-items-center">
                                <i class="bi bi-arrow-left-square h1"></i>
                            </div>
                            <div class="col-8">
                                <img id="MainPicture" style="box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);" id="ActivePicture" class="img-fluid" src="" />
                            </div>
                            <div id="RightArrow" class="col-2 d-flex justify-content-center align-items-center">
                                <i class="bi bi-arrow-right-square h1"></i>
                            </div>
                        </div>
                    </div>
                    <div id="PicturesCarousel" class="col-12 d-none d-lg-block">
                        <div id="Carousel" class="row mt-2">
                            <div class="col-2"><img class="veh-img-thumb img-thumbnail shadow-hover"/></div>
                            <div class="col-2"><img class="veh-img-thumb img-thumbnail shadow-hover"/></div>
                            <div class="col-2"><img class="veh-img-thumb img-thumbnail shadow-hover"/></div>
                            <div class="col-2"><img class="veh-img-thumb img-thumbnail shadow-hover"/></div>
                            <div class="col-2"><img class="veh-img-thumb img-thumbnail shadow-hover"/></div>
                            <div class="col-2"><img class="veh-img-thumb img-thumbnail shadow-hover"/></div>
                        </div>
                    </div>
                </div>
            </section>
            <section name="AnnouncementDateSection" class="mt-5">
                <div class="row">
                    <div class="col-4">
                        <small id="announcementTime">@Model.vehicle.CreateDate.Date.ToString("dd/MM/yyyy")</small>, to &nbsp; <small id="announcementDate">@Model.vehicle.ExpireDate.Date.ToString("dd/MM/yyyy")</small>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-5 p-2 text-end mb-2">
                        <a asp-controller="Announcement" asp-action="CreateAnnouncement" class="hover-darker text-decoration-none">Add similar announcement</a>
                        &nbsp;
                        <small class="hover-darker"><i class="bi bi-flag-fill"></i> Report announcement</small>
                    </div>
                    <hr/>

                </div>
                </section>
            <section name="VehicleDetails" class="mt-3">
                <div class="row">
                    <div class="col-12 my-3">
                        <h3>Details</h3>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">Offer from:<span class="hover-darker"> detail</span></div>
                            <div class="col-12">Vehicle Type:<span class="hover-darker"> @Model.vehicle.VehicleType</span></div>
                            <div class="col-12">Brand:<span class="hover-darker"> @Model.vehicle.Brand</span></div>
                            <div class="col-12">Model:<span class="hover-darker"> @Model.vehicle.Model</span></div>
                            <div class="col-12">Production year:<span class="hover-darker"> @Model.vehicle.ProductionYear</span></div>
                            <div class="col-12">Mileage:<span class="hover-darker"> @Model.vehicle.Milage.ToString("N0") km</span></div>
                            <div class="col-12">Cubic capacity:<span class="hover-darker"> @Model.vehicle.CubicCapacity.ToString("N0") cm </span></div>
                            <div class="col-12">Fuel:<span class="hover-darker"> @Model.vehicle.Fuel</span></div>
                            <div class="col-12">Power:<span class="hover-darker"> @Model.vehicle.Power km</span></div>
                            <div class="col-12">Country of origin:<span class="hover-darker"> @Model.vehicle.CountryOfOrigin</span></div>
                            @if (Model.vehicle.truck != null)
                            {
                                <div class="col-12">Permissible Gross Weight:<span class="hover-darker"> @Model.vehicle.truck.PermissibleGrossWeight</span></div>
                                <div class="col-12">Allow Package:<span class="hover-darker"> @Model.vehicle.truck.AllowPackage</span></div>
                            }
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">Drive:<span class="hover-darker"> @Model.vehicle.Drive</span></div>
                            <div class="col-12">Body Type:<span class="hover-darker"> @Model.vehicle.BodyType</span></div>
                            @if (Model.vehicle.car != null)
                            {
                                 <div class="col-12">Number of door:<span class="hover-darker"> @Model.vehicle.car.NumberOfDoor</span></div>
                                 <div class="col-12">Number of seats:<span class="hover-darker"> @Model.vehicle.car.NumberOfSeats</span></div>
                            }
                            else if(Model.vehicle.truck !=null)
                            {
                                <div class="col-12">Number of axles:<span class="hover-darker"> @Model.vehicle.truck.NumberOfAxles</span></div>
                                <div class="col-12">Non standard vehicle:<span class="hover-darker"> @Model.vehicle.truck.NonStandarVehicle</span></div>
                                <div class="col-12">Double rear wheels:<span class="hover-darker"> @Model.vehicle.truck.DoubleRearWheels</span></div>
                            }
                            <div class="col-12">Color:<span class="hover-darker"> @Model.vehicle.Color</span></div>
                            <div class="col-12">VAT:<span class="hover-darker"> @Model.vehicle.VAT</span></div>
                            <div class="col-12">First Register:<span class="hover-darker"> @Model.vehicle.RegDay/@Model.vehicle.RegMonth/@Model.vehicle.RegYear</span></div>
                            <div class="col-12">Register number:<span class="hover-darker"> @Model.vehicle.VehicleRegistrationNumber</span></div>
                            <div class="col-12">No accident:<span class="hover-darker"> @Model.vehicle.NoAccident</span></div>
                            <div class="col-12">ASO Serviced:<span class="hover-darker"> @Model.vehicle.AsoServiced</span></div>
                            <div class="col-12">Vin Number:<span class="hover-darker"> @Model.vehicle.VinNumber</span></div>
                        </div>
                    </div>
                </div>
                </section>

                <hr />

                <section name="VehicleHistory" class="mt-5">
                      <div class="row">
                           <div class="col-12">
                               <h3>Vehicle History</h3>

                                <small>Before you decided buy this vehicle get to know about it's history. Download raport from our confidential partner</small>
                            </div>
                            <div class="col-10 p-3">
                                <a href="https://www.autodna.pl/vin/@Model.vehicle.VinNumber" target="_blank" class="btn btn-dark px-5">Get raport</a>
                            </div>
                            <div class="col-2 pt-3">
                                <img class="img-fluid" src="~/image/helpfull/CVlogo.png">
                            </div>
                      </div>
                </section>

                <hr />

                <section  name="VehicleEquipment" class="mt-5">
                    <div class="row">
                        <div class="col-12">
                            <h3>Equipment</h3>
                        </div>
                        @foreach (var equipment in ViewBag.EquipmentList)
                        {
                            <div class="col-lg-4">
                                <i class="bi bi-check-circle"></i> @equipment
                            </div>
                        }
                    </div>
                </section>

                <hr />

                <section name="VehicleDescription" class="mt-5">
                    <div class="row">
                        <div class="col-12">
                            <h3>Description</h3>
                            <p>
                            @Model.vehicle.Description
                            </p>
                        </div>
                    </div>
                </section>

                 <hr />
                 
                 <section name="VehiclePriceEstimation">
                     <div class="row">
                         <div class="col-lg-3 p-3">
                             <div class="row">
                                 <div class="col-12 text-center bg-primary rounded-3 text-light p-3 border border-3">
                                     Price of this car is <br />
                                     <span id="AveragePriceStatus">Bellow average:</span> <br />
                                     <span id="AveragePrice"><b>120 000 - 250 00</b></span><br />
                                     for similar vehcile on AutoVertical
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-3">
                                    <img id="AveragePriceImg" class="img-fluid" width="100px" />
                                </div>
                             </div>
                         </div>
                         <div class="col-lg-9 p-4">
                             <h5>Price estimate <span class="badge bg-success">New model</span> </h5>
                             <h6>How the price is calculated</h6>
                             <p>We analize over 12 feauture of vehicles and compare with similar announcements publicated in Auto Vertical in the last 6 months </p>
                             <span>To calculate we include:</span>
                             <div class="row">
                                 <div class="col-lg-4">
                                     <i class="bi bi-check2  h1 text-primary"></i> Brand/model
                                 </div>
                                 <div class="col-lg-4">
                                     <i class="bi bi-check2  h1 text-primary"></i> Production Year
                                 </div>
                                 <div class="col-lg-4">
                                     <i class="bi bi-check2  h1 text-primary"></i> Mileage
                                 </div>
                                 <div class="col-lg-4">
                                     <i class="bi bi-check2  h1 text-primary"></i> Fuel
                                 </div>
                                 <div class="col-lg-4">
                                     <i class="bi bi-check2 h1 text-primary"></i> Engine size and power
                                 </div>
                                 <div class="col-lg-4">
                                     <i class="bi bi-check2  h1 text-primary"></i> Gearbox 
                                 </div>
                             </div>
                         </div>
                     </div>
                 </section>
                 
                 <hr />

                 <section name="SellerInfo" class="mt-5">
                     <div class="row">
                         <div class="col-12">
                             <h3>Seller information</h3>
                         </div>
                         <div class="col-12 p-3">
                             <i class="bi bi-check2-circle text-primary"></i> Private preson
                             <i class="bi bi-person text-primary"></i> Registered on Auto Vertical on @Model.vehicle.User.RegistrationDate.Date.ToString("MM/yyyy")
                         </div>
                         <div class="col-12 p-3">
                             <h6>Contact</h6>
                             <button id="PhoneBtn" class="btn btn-primary p-3 mt-3" data-vehId = "@Model.vehicle.Id">
                                 <i class="bi bi-telephone"></i> @Model.vehicle.User.PhoneNumber
                             </button> 
                             <a asp-controller="Messages" asp-action="CreateConversation" asp-route-AdvertUserId="@Model.vehicle.UserId" asp-route-VehicleId="@Model.vehicle.Id" class="btn btn-outline-primary p-2 m-3 mt-4">
                                 <i class="bi bi-chat-right-dots-fill"></i> &nbsp; Write a message
                             </a>
                         </div>
                         <div class="col-12 text-primary mt-4">
                             <h6 class="text-dark">Adress</h6>
                             <i class="bi bi-geo-alt text-black"></i> &nbsp; @Model.vehicle.User.City, @Model.vehicle.User.Street @Model.vehicle.User.StreetNumber;
                         </div>
                     </div>
                 </section>

                 <hr />

                 <section name="SimillarAnnouncement" class="mt-5">
                     <div class="row p-5 p-lg-0">
                         <div class="col-12 mb-4">
                             <h3>Similar announcements</h3>
                         </div>
                             @foreach(Announcement announcement in Model.Announcements)
                             {
                                 <a asp-controller="Announcement" asp-action="ShowAnnouncement" asp-route-identifier="@announcement.vehicle.Id"  class="col-lg-3 mb-4 mb-lg-0 text-decoration-none">
                                     <div class="card">
                                         <img style="max-height:120px" src="@announcement.images[2].Name" class="card-img-top">
                                         <div class="card-body">
                                             <h5>@announcement.vehicle.Title</h5>
                                             <h4 class="text-danger">@announcement.vehicle.PriceBrutto <sub>PLN</sub></h4>
                                             <hr />
                                             <small>@announcement.vehicle.ProductionYear</small> 
                                             <i style="font-size:7px" class="bi bi-circle p-2"></i>
                                             <small>@announcement.vehicle.Milage km</small>
                                         </div>
                                     </div>
                                 </a>
                             }
                         </div>
                 </section>

                 <section name="googleAdvertisement" class="mt-5">
                     <div class="row border">
                         <div class="col-12 d-flex justify-content-center">
                             <img style="width:250px" class="img-fluid" src="https://pozeo.pl/wp-content/uploads/2019/12/google-ads.jpg" />
                         </div>
                     </div>
                 </section>

        </section>

         <section name="VehicleBasic" class="col-lg-3 d-none d-lg-block">
            <div class="row p-4">
                <section name="VehicleBasicInfo">
                    <div class="row mb-4">
                        <h3>@Model.vehicle.Title</h3>
                        <div class="col-lg-2"><small>@Model.vehicle.ProductionYear</small></div>
                        <div class="col-lg-5"><small>@Model.vehicle.Milage</small></div>
                        <div class="col-lg-3"><small>@Model.vehicle.Fuel</small></div>
                        <div class="col-lg-2"><small>@Model.vehicle.BodyType</small></div>
                        <div class="col-lg-12 mt-2">
                             <h3 class="text-danger"> @Model.vehicle.PriceBrutto PLN</h3>
                        </div>
                        <div class="col-lg-2 small">Vat</div>
                        <div class="col-lg-4 small">Leasing</div>
                        <div class="col-lg-6 small">To Negotiate</div>
                    </div>
                </section>

                <hr />

                <section name="FundingSection" class="mt-4">
                    <div class="row">
                        <div class="col-lg-4 d-flex align-items-center">
                            <img src="~/image/helpfull/search.jpg" class="img-fluid" />
                        </div>
                        <div class="col-lg-8">
                                <div class="col-12">
                                    <h6> Auto Vertical founding</h6>
                                </div>
                                <div class="col-12 small">We invite you to find out more about our founding proposition. </div>
                        </div>
                        <a class="col-12 btn btn-outline-success mt-2">
                            Find out more..
                        </a>
                    </div>
                </section>

                <section name="SellerInformation" class="mt-4">
                    <div class="row">
                        <div class="card">
                            <div class="row p-3">
                                <div class="col-lg-4">
                                    @if (Model.vehicle.User.Verificated is true)
        {
                                         <img src="~/image/helpfull/verificated.png" class="img-fluid" />
                                    }
                                    else{
                                        <img src="~/image/helpfull/noVerificated.jpg" class="img-fluid" />
                                    }
                                </div>
                                <div class="col-lg-8 d-flex align-items-center">
                                    <h5>@Model.vehicle.User.Name</h5>
                                </div>
                                <div class="col-lg-12 mt-4">
                                    <i class="bi bi-person-fill text-primary"></i> &nbsp Private Person
                                </div>
                                <div class="col-lg-12">
                                    <i class="bi bi-calendar-check-fill text-primary"></i></i> &nbsp Register  in @Model.vehicle.User.RegistrationDate.Year
                                </div>

                                <div class="col-lg-12">
                                    <a asp-controller="Messages" asp-action="CreateConversation" asp-route-AdvertUserId="@Model.vehicle.UserId" asp-route-VehicleId="@Model.vehicle.Id" class="btn bg-danger px-4 text-light mt-3">
                                        <i class="bi bi-envelope-fill"></i> &nbsp; Conntact with seller
                                    </a>
                                </div>

                                <div class="col-lg-12">
                                    <a class="btn btn-outline-primary px-4 text-primary mt-3">
                                        <i class="bi bi-telephone-fill"></i> &nbsp; Conntact with seller
                                    </a>
                                </div>

                                <div class="col-lg-12 text-primary mt-3">
                                    <i class="bi bi-geo-alt-fill"></i> @Model.vehicle.User.City, @Model.vehicle.User.Street, @Model.vehicle.User.StreetNumber
                                </div>

                                <div class="col-lg-12 text-primary mt-3">
                                    <a class="btn hover-darker">
                                        <a class="btn" asp-controller="Announcement" asp-action="FilterAnnouncement" asp-route-userId="@Model.vehicle.UserId">
                                            <i class="bi bi-megaphone-fill"></i> More offers this seller (@ViewBag.UserAdvertsConunt)
                                        </a>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

                <section name="advertisement" class="advertisement-sm mt-4">
                    <div class="row">
                        <a class="col-12">
                            <img src="" class="smallAdvertisement img-fluid" />
                        </a>
                    </div>
                </section>

            </div>
        </section>
    </div>
</section>



@section Scripts
{
    <script src="~/js/ShowAnnouncement/Slider.js"></script>
    <script src="~/js/ShowAnnouncement/ButtonsScripts.js"></script>
    <script src="~/js/ShowAnnouncement/AveragePrice.js"></script>
    <script src="~/js/RandAdvertisements.js"></script>
    <script src="~/js/ShowAnnouncement/LoadAdvertisement.js"></script>
}
